<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
            <a href="<%= newQuotationsPath() %>" class="btn btn-primary ms-1">Nueva Cotización</a>
            </div>
            <h4 class="page-title font-22 fw-normal"><span class="hide-on-mobile">Mis</span> Cotizaciones</h4>
        </div>
    </div>
</div>

<%= if (len(quotations) > 0) { %>
    <table class="table table-hover table-centered mb-0">
        <thead>
            <tr>
                <th scope="col">Tipo de Contrato</th>
                <th scope="col">Plazo</th>
                <th scope="col">Valor del Equipo</th>
                <th scope="col">Valor de Cuota</th>
                <th scope="col">Opción de Compra</th>
                <th scope="col" class="w-20"></th>
            </tr>
        </thead>
        <tbody>
            <%= for (quotation) in quotations { %>
                <tr>
                    <td data-label="Tipo de Contrato" scope="row"><%= quotation.ContractType %></td>
                    <td data-label="Plazo"><%= quotation.Term %> Meses</td>
                    <td data-label="Valor del Equipo"><%= toCurrency(quotation.EquipmentValue.Float64) %></td>
                    <td data-label="Valor de Cuota"><%= toCurrency(quotation.Fee) %></td>
                    <%= if(quotation.ContractType == "Leasing") { %>
                        <td data-label="Opción de Compra"><%= toCurrency(quotation.PurchaseOptionValue.Float64) %></td>
                    <% } else { %>
                        <td data-label="Opción de Compra">-</td>
                    <% } %>
                    <td data-label="">
                        <div class="d-flex">
                            <a href="<%= quotationShowPath({quotation_id: quotation.ID}) %>" class="btn btn-success btn-sm">Ver</a>
                            <a href="<%= editQuotationPath({quotation_id: quotation.ID}) %>" class="btn btn-info btn-sm ml-1">Modificar</a>
                            <a href="<%= quotationDeletePath({quotation_id: quotation.ID}) %>" data-method="DELETE" data-confirm="Estás seguro que quieres elimiar esta cotización?" class="btn btn-danger btn-sm ml-1">Borrar</a>
                        </div>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
<% } %>
           
<%= if (len(quotations) == 0) { %>
    <div class="bg-white p-5 d-flex flex-column justify-content-center align-items-center">
        <img src="/assets/images/no_quotations.svg" alt="" width="200px">
        <h4>No hay Cotizaciones</h4>
        <p class="text-center">Hey! Aún no tienes cotizaciones registradas. <br> Presiona en <b>Nueva Cotización</b> para agregar una cotización al sistema.</p>
        <a href="<%= newQuotationsPath() %>" class="btn btn-primary ms-1">Nueva Cotización</a>
    </div>
<% } %>