<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <a href="<%= quotationsPath() %>" class="btn btn-secondary ms-1">Cancelar</a>
                <button type="submit" form="save-form" class="btn btn-primary ms-1">
                    Crear <span class="hide-on-mobile">Cotización</span>
                </button>
            </div>

            <h4 class="page-title font-22 fw-normal">Nueva Cotización</h4>
        </div>
    </div>
</div>

<%= form_for(quotation, {id: "save-form", action: quotationsCreatePath(), method: "POST"}) { %>
    <%= partial("/quotations/form.plush.html") %>
<% } %>