<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
            <a href="<%= newInterestRatesPath() %>" class="btn btn-primary ms-1">Nueva tasa de interés</a>
            </div>
            <h4 class="page-title font-22 fw-normal">Tasas de Interés</h4>
        </div>
    </div>
</div>

<%= if (len(interestRates) > 0) { %>
    <table class="table table-hover table-centered mb-0">
        <thead>
            <tr>
                <th scope="col">Tipo de Contrato</th>
                <th scope="col">Plazo</th>
                <th scope="col">Tasa</th>
                <th scope="col">Rango de Precios</th>
                <th scope="col">Taza Póliza</th>
                <th scope="col">Opción de Compra</th>
                <th scope="col" class="w-20"></th>
            </tr>
        </thead>
        <tbody>
            <%= for (rate) in interestRates { %>
                <tr>
                    <td data-label="Tipo de Contrato"><%= rate.ContractType %></td>
                    <td data-label="Plazo"><%= rate.Term %> Meses</td>
                    <td data-label="Tasa"><%= rate.Rate.Float64 %>%</td>
                    <td data-label="Rango de Precios"><%= toCurrency(rate.MinValue.Float64) %> - <%= toCurrency(rate.MaxValue.Float64) %></td>
                    <td data-label="Taza Póliza">
                        <%= if(rate.PolicyRatePresent) { %>
                            <%= rate.PolicyRate.Float64 %>%
                        <% } else { %>
                            -
                        <% } %>
                    </td>
                    <td data-label="Opción de Compra">
                        <%= if(rate.ContractType == "Leasing") { %>
                            <%= rate.PurchaseOptionPercentage.Float64 %>%
                        <% } else { %>
                            -
                        <% } %>
                    </td>
                    <td data-label="">
                        <a href="<%= editInterestRatePath({interest_rate_id: rate.ID}) %>" class="btn btn-info btn-sm">Modificar</a>
                        <a href="<%= interestRateDeletePath({interest_rate_id: rate.ID}) %>" data-method="DELETE" data-confirm="Estás seguro que quieres elimiar esta tasa de interés?" class="btn btn-danger btn-sm ml-1">Borrar</a>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
<% } %>
                                                
<%= if (len(interestRates) == 0) { %>
    <div class="bg-white p-5 d-flex flex-column justify-content-center align-items-center">
        <img src="/assets/images/no_rates.svg" alt="" width="200px">
        <h4>No hay Tasas</h4>
        <p class="text-center">Hey! Aún no tienes tasas de interes registradas. <br> Presiona en <b>Nueva tasa de interés</b> para agregar una tasa al sistema.</p>
        <a href="<%= newInterestRatesPath() %>" class="btn btn-primary ms-1">Nueva tasa de interés</a>
    </div>
<% } %>