<div class="row">
    <div class="col-lg-4">
        <%= f.InputTag("Identification", {label: "Identificación", placeholder: "Cédula o Nit"}) %>
    </div>
    <div class="col-lg-4">
        <%= f.InputTag("FirstName", {label: "Nombre(s)", placeholder: "Nombre del cliente"}) %>
    </div>
    <div class="col-lg-4">
        <%= f.InputTag("LastName", {label: "Apellido(s)", placeholder: "Apellido del cliente"}) %>
    </div>
    <div class="col-lg-4">
        <%= f.InputTag("Email", {label: "Email", type: "email", placeholder: "Email del cliente"}) %>
    </div>
    <div class="col-lg-4">
        <%= f.InputTag("Address", {label: "Dirección", placeholder: "Dirección del cliente"}) %>
    </div>
    <div class="col-lg-4">
        <%= f.InputTag("PhoneNumber", {label: "Teléfono", placeholder: "Teléfono del cliente"}) %>
    </div>
</div>