<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
            <a href="<%= newClientsPath() %>" class="btn btn-primary ms-1">Nuevo Cliente</a>
            </div>
            <h4 class="page-title font-22 fw-normal">Listado de Clientes</h4>
        </div>
    </div>
</div>

<table class="table table-hover table-centered mb-0">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <%= for (client) in clients { %>
            <tr>
                <td><%= client.FirstName %><%= client.LastName %></td>
                <td><%= client.Email %></td>
                <td><%= client.PhoneNumber %></td>
                <td><%= client.Address %></td>
                <td>
                    <a href="<%= editClientPath({client_id: client.ID}) %>" class="btn btn-info btn-sm">Modificar</a>
                    <a href="<%= clientDeletePath({client_id: client.ID}) %>" data-method="DELETE" data-confirm="Estás seguro que quieres elimiar este cliente?" class="btn btn-danger btn-sm">Borrar</a>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>
                                                