<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
            <a href="<%= newClientsPath() %>" class="btn btn-primary ms-1">Nuevo Cliente</a>
            </div>
            <h4 class="page-title font-22 fw-normal">Listado de Clientes</h4>
        </div>
    </div>
</div>

<%= if (len(clients) > 0) { %>
    <table class="table table-hover table-centered mb-0">
        <thead>
            <tr>
                <th scope="col">Identificación</th>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Dirección</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <%= for (client) in clients { %>
                <tr>
                    <td data-label="Identificación"><%= client.Identification %></td>
                    <td data-label="Nombre"><%= client.FullName() %></td>
                    <td data-label="Email"><%= client.Email %></td>
                    <td data-label="Teléfono"><%= client.PhoneNumber %></td>
                    <td data-label="Dirección"><%= client.Address %></td>
                    <td data-label="">
                        <a href="<%= editClientPath({client_id: client.ID}) %>" class="btn btn-info btn-sm">Modificar</a>
                        <a href="<%= clientDeletePath({client_id: client.ID}) %>" data-method="DELETE" data-confirm="Estás seguro que quieres elimiar este cliente?" class="btn btn-danger btn-sm">Borrar</a>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
<% } %>

<%= if (len(clients) == 0) { %>
    <div class="bg-white p-5 d-flex flex-column justify-content-center align-items-center">
        <img src="/assets/images/no_clients.svg" alt="" width="200px">
        <h4>No hay Clientes</h4>
        <p class="text-center">Hey! Aún no tienes clientes registrados. <br> Presiona en <b>Nuevo Cliente</b> para agregar un cliente al sistema.</p>
        <a href="<%= newClientsPath() %>" class="btn btn-primary ms-1">Nuevo Cliente</a>
    </div>
<% } %>
                                                