<%= for (k, messages) in flash { %>
  <%= for (msg) in messages { %>
    <div class="alert alert-<%= k %> mt-3" role="alert">
        <div class="container p-0 m-0">
            <div class="row">
              <div class="col-md-12 d-flex justify-content-between align-items-center">
                <span class="d-flex align-items-center font-15">
                    <%= if (k == "success" || k == "info") { %>
                      <i class="bi bi-check-circle d-flex mr-3 font-18"></i>
                    <% } %>

                    <%= if (k == "danger") { %>
                      <i class="bi bi-slash-circle d-flex mr-3 font-18"></i>
                    <% } %>

                    <%= raw(msg) %>
                </span>
                
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span class="d-flex align-items-center" aria-hidden="true">
                    <i class="fal fa-times" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
            </div>      
        </div>
    </div>
  <% } %>
<% } %>
